{% extends 'base.html' %}
{% block content %}
<div class="content-container">
    <h1>About Us</h1>
    <div class="about-us">

        <p>We are a group of students from TUD that made this website for our second year project 3 people worked
            on
            this
            project together to bring this website to life. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Debitis ipsum, temporibus, nobis magni fuga optio possimus est repudiandae libero, delectus ipsa modi
            ratione suscipit iure! Aspernatur consequatur voluptatum iusto similique magnam vero tenetur nulla hic
            aliquam totam maiores commodi eos explicabo enim repellendus ipsam reprehenderit saepe, ducimus dolorum
            exercitationem pariatur!. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga illum, odio
            aspernatur, voluptatibus accusantium modi voluptates dolore eligendi alias adipisci molestiae libero
            ducimus! Dolores dolor unde, eligendi placeat quis velit sequi nemo ratione temporibus commodi minima iure
            assumenda libero ea quia exercitationem expedita aperiam itaque deleniti, natus, aliquam et rerum!</p>
    </div>
</div>

{% endblock content %}