{% extends 'base.html' %}

{% block content %}
<div class="content-container">
    <h1>Contact Us</h1>


    <div class="contact-us">
        <div>
            <i class="fa-solid fa-phone"></i>
            <span>
                <h5>0898323245</h5>
                <p>Monday to Saturday, 9AM to 5PM</p>
            </span>
        </div>
        <div>
            <i class="fa-solid fa-envelope"></i>
            <span>
                <h5>websitemaker@gmail.com</h5>
                <p>Email us your query</p>
            </span>
        </div>
        <div>
            <i class="fa-solid fa-location-dot"></i>
            <span>
                <h5>XYZ Road, ABC Building</h5>
                <p>Dublin, Ireland</p>
            </span>
        </div>
    </div>

</div>

{% endblock content %}