{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-3">
    <table class="table table-borderless">
        <tr>
            <th>
                <div class="card">
                    <div class="card-body bg-light">
                        <h4 class="card-title">Nvidia RTX4080 GPU</h4>
                        
                    </div>
                </div>
            </th>
            <th>
                <div class="card">
                    <div class="card-body bg-light">
                        <h4 class="card-title">AMD Ryzen CPU</h4>
                        
                    </div>
                </div>
            </th>
            <th>
                <div class="card">
                    <div class="card-body bg-light">
                        <h4 class="card-title">ROG 16GB RAM</h4>
                        
                    </div>
                </div>
            </th>
        </tr>
    </table>
</div>
{% endblock content %}